* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title-box {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    margin: 20px 10px;
}

.big {
    height: 50%;
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small {
    height: 50%;
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
.large {
    height: 60%;
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(-500px);
    transition: all 0.15s ease-in-out;
    opacity: 0;
}
.right-side-anim {
    transform: translateX(0px);
    opacity: 1;
}


.left-side {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(350px);
    transition: all 0.15s ease-in-out;
    opacity: 0;
}
.left-side-anim {
    transform: translateX(0px);
    opacity: 1;
}

.mid-side {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(250px);
    transition: all 0.15s ease-in-out;
    opacity: 0;
}
.mid-side-anim {
        transform: translateX(0px);
        opacity: 1;
}
